html,body {
 margin: 0;
 height: 100%;
} 

body {
  display: flex;
  flex-direction: column;
   font-family: "Plus Jakarta Sans", sans-serif !important; 
}
.container { 
    flex: 1;
}

/* navbar */

.navbar {
    height: 8rem ;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */

footer {
    margin-top: 2rem !important;
}

.f-info-links {
    margin-bottom: .7rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
   
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
   
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
    margin-top: .7rem;
}

/* cards */

.card  {
    border: none !important;
    margin-top: 2rem !important;
}

.card-img-top {
    border-radius: 1rem;
    height: 20rem;
    width: 100% !important;    
    object-fit: cover !important;
   
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    background-color: white;
    opacity: .3;
}

/* show image  */

.show-img { 
    height: 50vh;
    width:auto;
    object-fit: fill;
}

.show-header{
    display: inline-block;
     border-bottom: 3px solid black;
}

