html,body {
 margin: 0;
 height: 100%;
} 

body {
  display: flex;
  flex-direction: column;
   font-family: "Plus Jakarta Sans", sans-serif !important; 
}
.container { 
    flex: 1;
}

/* navbar */

.navbar {
    height: 8rem ;
    background-color: white;
}

@media (max-width:767px) {
    .navbar {
        height: auto;
        padding: 1rem 0;
    }

    .navbar-collapse{
        background-color: #000;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-top: 1rem;
        max-height: 50vh;
        overflow-y: auto;
       
    }
     .navbar-collapse .navbar-nav {
    margin: 0 !important;
    padding: 0 !important;
    align-items: flex-start;
  }

   .navbar-collapse .nav-link {
    color: white !important;
    width: 100%;
    padding: 0.5rem 0 !important;
    margin-left: 0.2rem !important;

  }
    .navbar-collapse form.d-flex {
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: auto;
    padding: 1rem;
  }
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */

footer {
    margin-top: 2rem !important;
}

.f-info-links {
    margin-bottom: .7rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
   
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
   
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
    margin-top: .7rem;
}

/* cards */

.listing-card   {
    border: none !important;
    margin-top: 2rem !important;
}

.card-img-top {
    border-radius: 1rem;
    height: 20rem;
    width: 100% !important;    
    object-fit: cover !important;
   
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    background-color: white;
    opacity: .3;
}

/* show image  */

.show-img { 
    height: 50vh;
    width:100%;
    object-fit: fill;
    border-radius: 1rem;
}

@media (min-width: 992px) {
  .show-img {
    width: 70%;
    display: block;
    margin: 0 ;
    align-self: flex-start;
  }
  .show-wrapper{
    margin-left: 10%;
    margin-right: 10%;
  }
  .description{
   max-width: 65%;
  }
  #map {
    width: 70%;
    margin: 0 !important;
     }
  .review-experience{
    max-width: 70%;
  }
}

.description{
   margin-bottom: 0;
  }

  #map {
     border-radius: 1rem;
  }

.show-header{
    display: inline-block;
     border-bottom: 3px solid black;
}

/* airbnb icons */

.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
   margin-left: 3vh;
  }
  
  .filter {
    text-align: center;
    margin-right: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
    
  }

  .filter p {
    font-size: 0.8rem;
  }

  .filter div i {
    font-size: 1rem;
  }

  .tax-info {
    display: none;
  }
  
  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    font-size: .8rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }